*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
    scroll-behavior: smooth;


}
a{
    text-decoration:none;
}
body{
    height:10000px;
}
.hr{
    display:flex;
    justify-content:center;
    padding:0 40px 0 40px;
    height:1px;
    background-color: rgb(209, 209, 209);
    z-index:5;
    position:relative;
    top:50px;
    width:90%;
    left:5%;

}



nav{
    height:50px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    padding:20px;
    z-index:5;      
    opacity:0.8;
}
#btn_log_in {
    border: 0;
    padding:4px 20px 4px 20px;
    border-radius: 4px;
    background: #36a900;
    color: white;
    margin-right: 0;
  }
  #btn_log_in a {
    font-size: 16px;
    color: white;
  }
  #log_in_model {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(161, 161, 161, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 5;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transform: translateY(-100%);
  }
  
  #log_in_model:target {
    visibility: visible;
    opacity: 1;
    transform: translatey(0);
  }
  
  #log_in_model #log_inner {
    width: 300px;
    height: 400px;
    background: white;
    z-index: 5;
    padding:40px;
    border-radius:4px;
    background-image:radial-gradient(circle farthest-corner at bottom left, #04338a, #f68d59 );
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
   
  }
  #x_mark{
    background: transparent;
    position:absolute;
    right:10px;
    top:10px;

  }

.log_input_div label{
    display:block;
}
#log_inner button{
    padding:0 20px 0 20px;
    margin-top:20px;
    border:0;
    border-radius:4px;
    background:#41ce00;
    color:white;
}
#log_inner h3{
    margin-bottom:20px;
    
}
#hero ul{
   list-style-type:none;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   position:relative;
   width:600px;
   top:150px;
   left:150px;
   padding:0;
   font-size:28px;
   color:white;
   


}
#li_main{
    font-weight:bold;
    margin-bottom:5px;
    font-size:40px;
    letter-spacing:2px;

}
#type_text{

    position:relative;
    height:40px;
    /* background-image: linear-gradient(to right, #ffffff, #000000);
    -webkit-background-clip: text; /* For Safari and older versions of Chrome */
    /* background-clip: text; */ 
    color: white; /* Hide the original text color */
    z-index:2;
    font-size:24px;
    top:400px;
    left:100px;
    font-weight: 600;

}


.nav_item {
    
    font-size:18px;

    
}    
.nav_item a{
    text-decoration: none;
    color:white;
}

a:hover{
    background: rgb(115, 71, 53);
    color:black;

}
.cursor{
    cursor: pointer;
}

/* nav::before{
    content:'';
    
   
    top:-120px;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    position:absolute;
    opacity:0.8;

} */

#logo_img{
    height:100px;
    border-radius: 50%;
    position:relative;    
    top:20px;
    left:20px;
    }

#logo2_img{
    height:80px;
    
 
    top:5px;
    right:5px;
    }




#hero{
    height:600px;
    position:relative;
    background-image:url('logo.png'), radial-gradient(circle farthest-corner at bottom left, #04338a, #f68d59 );
    background-size:70px, cover;
    background-position:1.5% -1.5%,center;
    background-repeat:no-repeat,no-repeat;
    background-blend-mode:lighten;  
   
    }

body{
    position:relative;
}    

/* #hero::before{
    content:'';

    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:-1;
    top:-100px;
    left:0;
    width:100%;
    height:120%;
    opacity:0.8;


}     */


#demo{
    color:brown;
    position:absolute;
    left:300px;
    z-index:2;
}
#toon{
    height:350px;
    position:absolute;
    right:40px;
    top: 100px;
    animation-name:logo;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-out;
}  

@keyframes logo{
    0%{transform:translateY(0);}
    100%{transform:translateY(30px);}
}


/* #hero::before{
    content:'';
    background-image:url('Hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    top:120px;
    left:40px;
    height:100%;
    width:50%;
    z-index:-1;
    position:absolute;
color-dodge
} */

#Details{
    height:500px;
    padding-top:50px;
    position:relative;
    background-image:url('CN_icon.png') ,radial-gradient(circle farthest-corner at top right,#e4855e,#eeceb2 );
    background-position:1066px 105px, center;
    background-repeat:no-repeat,no-repeat;
    background-size:250px, cover;
    background-blend-mode:color-dodge
}
/* 
#Details::before{
    content:'';
    background:khaki;
    background-size: cover;
    background-repeat: no-repeat;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    position:absolute;
    opacity:0.5;


    
} */

#Details_inner{
    margin:50px 150px 50px 150px;
    font-size:20px;
    position:relative;
    
}



#Details h2{
    height:50px;
    font-size:40px;
    color:black;
    text-align: center;
    padding-bottom:20px;
    line-height: 40px;
    font-weight:500;
    letter-spacing:2px;
}




#Details td,th{
    padding:10px 20px 0 0;
}
    
#Detail_info p{
    width:500px;
    overflow:hidden;
}

#Details_div_img{
        
    position:absolute;
    top:-7px;
    right:00px;    
    transition-property:all;
    transition-duration:1s;
    transition-timing-function: ease-out;
    

    /* animation-name:qr;
    animation-duration:3s;
    animation-timing-function: ease-out;
    animation-delay:5s;
    animation-iteration-count:infinite; */
 

}
#Details_div_img:hover{
    transform:rotate(360deg)
    
      
   
 

}


#Details_div_img img{
    width:200px;
    position:relative;

}


  
  @keyframes qr {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
      
    }
  }


  #register{
    color:white;
    height:600px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background-image:radial-gradient(circle farthest-corner at top left,#3757b1,#8ea7ee );
    /* background-position:center, center;
    background-repeat:no-repeat,no-repeat;
    background-size:400px, cover;
    background-blend-mode:exclusion; */

  }

  #register_inner{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  }

  #register_inner p{
    font-size:30px;
    font-weight:600;
    background-image: linear-gradient(to right,  #ffffff ,#e0ddd9);
    -webkit-background-clip: text; /* For Safari and older versions of Chrome */
    background-clip: text; 
    color: transparent; /* Hide the original text color */
   
  }
  #register_inner_p1{
  margin:0;
  }
  #register_inner_p2{
  
   margin-bottom:50px;
  }

  #register_img{ 
    height:350px;
    position:relative;
    right:0px;
   
  }

.register_input{
    color:black;
    width:200px;
    height:30px;
    border-radius:5px;
    border:0;
}

.register_input_div{
    margin-top:10px;
}
#register label{
    display:block;
    margin-bottom:2px;
}
#fifth{
    width:100px;
    margin-top:20px;
    position:relative;
    right:50px;
    color:white;
    background: #41ce00;
  
}

/* ################################################## Past Events ##################################################### */

#past_events{
    padding:40px 0 40px 0 ;
    position:relative;
}
#past_events::before{
    content:'';
    background: url('hero2.avif') ;
    background-size:cover;
    background-position:50% -120%;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.1;

    
}

#past_events h2{
   
    text-align:center;
    font-size:40px;
    letter-spacing: 2px;
}


.crousel_img{
    width:400px;
    margin:20px;
}

.crousel_slide{
    height:500px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}

#about{
    height:400px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;


}
li i{
    height:50px;
}

#about ul{
    list-style-type:none;
    line-height:30px;
}
#about_left , #about_right{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}