*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
    scroll-behavior: smooth;


}
nav{
    height:100px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    position:relative;
    padding:20px;
    

    
}
.cursor{
    cursor: pointer;
}

nav::before{
    content:'';
    background:white;
   
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    position:absolute;
    opacity:0.8;

}

#logo_img{
    height:80px;
    border-radius: 50%;
    
    top:5px;
    left:5px;
    }

#logo2_img{
    height:80px;
    
 
    top:5px;
    right:5px;
    }



.nav_item {
    margin:auto;
    font-size:18px;
    padding:5px 15px 5px 15px;
    background:rgb(128,79,60);
    color:white;
    border-radius:10%;
    margin-top:20px;
}    
.nav_item a{
    text-decoration: none;
    color:white;
}

a:hover{
    background: rgb(115, 71, 53);
    color:black;

}

#hero{
    height:600px;
    position:relative;
    }

#demo{
    color:brown;
    position:absolute;
    left:300px;
    z-index:2;
}
#toon{
    position:relative;
    left:0px;
    top: 50px;
    animation-name:logo;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-out;
}  

@keyframes logo{
    0%{transform:translateY(0);}
    100%{transform:translateY(30px);}


}
#div_hero_imgs{
    padding:30px;
}
#hero_img2{
    position:relative;
    bottom:80px;

}
.hero_img{
   margin-left:150px;

    width:500px;
}
/* #hero::before{
    content:'';
    background-image:url('Hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    top:120px;
    left:40px;
    height:100%;
    width:50%;
    z-index:-1;
    position:absolute;

} */

#Details{
    height:500px;
   

}
#Details_inner{
    margin:50px 150px 50px 150px;
    font-size:20px;
    position:relative;
    
}

#hero_img1{
    position:relative;
    bottom:60px;
}

#hero_img2{
    bottom:100px;
}

#Details h2{
    height:50px;
    background:radial-gradient(circle,rgb(115, 71, 53),rgb(234, 234, 234) ) ;
    color:white;
    text-align: center;
    padding-bottom:20px;
    line-height: 40px;
    font-weight:600;
}




#Details td,th{
    padding:10px 20px 0 0;
}
    
#Detail_info p{
    width:500px;
    overflow:hidden;
}

#Details_div_img{
    
    position:absolute;
    top:0px;
    right:00px;    
    transition-property:all;
    transition-duration:1s;
    transition-timing-function: ease-out;

    /* animation-name:qr;
    animation-duration:3s;
    animation-timing-function: ease-out;
    animation-delay:5s;
    animation-iteration-count:infinite; */
 

}
#Details_div_img:hover{
    transform:rotate(360deg)
    
      
   
 

}


#Details_div_img img{
    width:150px;
    margin:20px;
    position:relative;

}


  
  @keyframes qr {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
      
    }
  }