*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
    scroll-behavior: smooth;



}
a{
    text-decoration:none;
}
html{
    width:100vw;
    font-size: 100%

}

.hr{
    display:flex;
    justify-content:center;
    padding:0 2.5rem 0 2.5rem;
    height:0.0625rem;
    background-color: rgb(209, 209, 209);
    z-index:5;
    position:relative;
    top:3.125rem;
    width:100%;


}



nav{
    height:3.125rem;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    padding:1.25rem;
    z-index:5;      
    opacity:0.8;
}
#btn_log_in {
    border: 0;
    padding:0.25rem 1.25rem 0.25rem 1.25rem;
    border-radius: 0.25rem;
    background: #36a900;
    color: white;
    margin-right: 0;
  }
  #btn_log_in a {
    font-size: 1rem;
    color: white;
  }
  #log_in_model {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(161, 161, 161, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 5;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transform: translateY(-100%);
  }
  
  #log_in_model:target {
    visibility: visible;
    opacity: 1;
    transform: translatey(0);
  }
  
  #log_in_model #log_inner {
    width: 18.75rem;
    height: 25rem;
    background: white;
    z-index: 5;
    padding:2.5rem;
    border-radius:0.25rem;
    background-image:radial-gradient(circle farthest-corner at bottom left, #04338a, #f68d59 );
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
   
  }
  #x_mark{
    background: transparent;
    position:absolute;
    right:0.625rem;
    top:0.625rem;

  }

.log_input_div label{
    display:block;
}
#log_inner button{
    padding:0 1.25rem 0 1.25rem;
    margin-top:1.25rem;
    border:0;
    border-radius:0.25rem;
    background:#41ce00;
    color:white;
}
#log_inner h3{
    margin-bottom:1.25rem;
    
}

#hero{
    display:flex;
    justify-content: space-around;
    
}
#hero_left{
    display:flex;
    width:60rem;
    flex-direction:column;
    padding-left:3.125rem;
    justify-content:center;
    align-items:space-around;

}
#hero_right{    
    display:flex;
    width:30rem;
    padding-right:2rem;
    justify-content: center;
    align-items:center;
}
#toon{
    width:100%;
    filter:drop-shadow(5px 5px 20px #ff7936);
    animation-name:logo;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: ease-out;
}  
#hero_left ul{
   list-style-type:none;
   display:block;
   width:37.5rem;
   padding:0;
   font-size:1.75rem;
   color:white;
   


}
#li_main{
    font-weight:bold;
    margin-bottom:0.3125rem;
    font-size:2.5rem;
    letter-spacing:0.125rem;
    text-shadow: 5px 5px 10px  #023dbc;

}
#type_text{

    color:white;
    height:2.5rem;
    z-index:2;
    font-size:1.5rem;
    font-weight: 600;

}


.nav_item {
    
    font-size:1.125rem;

    
}    
.nav_item a{
    text-decoration: none;
    color:white;
}

a:hover{

    text-decoration:solid underline;
    

}
.cursor{
    cursor: pointer;
}

/* nav::before{
    content:'';
    
   
    top:-120px;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    position:absolute;
    opacity:0.8;

} */

#logo_img{
    height:6.25rem;
    border-radius: 50%;
    position:relative;    
    top:1.25rem;
    left:1.25rem;
    }

#logo2_img{
    height:5rem;
    
 
    top:0.3125rem;
    right:0.3125rem;
    }




#hero{
    height:37.5rem;
    position:relative;
    background-image:url('images/logo.png'), radial-gradient(circle farthest-corner at bottom left, #04338a, #f68d59 );
    background-size:4.375rem, cover;
    background-position:1rem -0.5rem,center;
    background-repeat:no-repeat,no-repeat;
    background-blend-mode:lighten;  
   
    }

body{
    position:relative;
}    

/* #hero::before{
    content:'';

    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    z-index:-1;
    top:-100px;
    left:0;
    width:100%;
    height:120%;
    opacity:0.8;


}     */


#demo{
    color:brown;
    position:absolute;
    left:18.75rem;
    z-index:2;
}


@keyframes logo{
    0%{transform:translateY(0);}
    100%{transform:translateY(1.875rem);}
}


/* #hero::before{
    content:'';
    background-image:url('Hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    top:120px;
    left:40px;
    height:100%;
    width:50%;
    z-index:-1;
    position:absolute;
color-dodge
} */

#Details{
    height:31.25rem;
    position:relative;
    padding:1.875rem;
    font-size:1.25rem;
    display:flex;
    flex-direction:row;
    background-image:radial-gradient(circle farthest-corner at top right,#e4855e,#eeceb2 );
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;


}

#Details #Details_info{
    width:65rem;
    
}

#details_left table{
    margin-left:1rem;
   
}
#details_left{
    width:70%;
    margin-left:3rem;
}


#details_left h2{
    height:3.125rem;
    font-size:2.5rem;
    color:black;
    margin-left:50%;
    padding-bottom:1.25rem;
    line-height: 2.5rem;
    font-weight:500;
    letter-spacing:0.125rem;
   
}







#Details td,th{
    padding:0.625rem 1.25rem 0 0;
}
    


#Details_div_img{
    background: url('images/CN_icon.png');
    position:absolute;
    right:2rem;
    background-size: contain;
    background-repeat: no-repeat;
    width:12.5rem;
    transform:translatey(6.25rem);
    background-position: 1.25rem;
  
}
 



#Details_div_img img{
    width:12.5rem;
    filter:drop-shadow(5px 5px 10px rgb(186, 186, 186))


}


  
  @keyframes qr {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
      
    }
  }


  #register{
    color:white;
    height:37.5rem;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background-image:radial-gradient(circle farthest-corner at top left,#3757b1,#8ea7ee );
    padding:20px;
    /* background-position:center, center;
    background-repeat:no-repeat,no-repeat;
    background-size:400px, cover;
    background-blend-mode:exclusion; */

  }

  #register_inner{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  }

  #register_inner p{
    font-size:1.875rem;
    font-weight:600;
    background-image: linear-gradient(to right,  #ffffff ,#e0ddd9);
    -webkit-background-clip: text; /* For Safari and older versions of Chrome */
    background-clip: text; 
    color: transparent; /* Hide the original text color */
   
  }
  #register_inner_p1{
  margin:0;
  }
  #register_inner_p2{
  
   margin-bottom:3.125rem;
  }

  #register_img{ 
    height:21.875rem;
    position:relative;
    right:0rem;
   
  }

.register_input{
    color:black;
    width:12.5rem;
    height:1.8rem;
    border-radius:0.3125rem;
    border:0;
}

.register_input_div{
    margin-top:0.625rem;
}
#register label{
    display:block;
    margin-bottom:0.125rem;
}
#fifth{
    width:6.25rem;
    margin-top:1.25rem;
    position:relative;
    right:3.125rem;
    color:white;
    background: #41ce00;
  
}

/* ################################################## Past Events ##################################################### */

#past_events{
    padding:2.5rem 0 2.5rem 0 ;
    position:relative;
}
#past_events::before{
    content:'';
    background: url('hero2.avif') ;
    background-size:cover;
    background-position:50% -120%;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.1;

    
}

#past_events h2{
   
    text-align:center;
    font-size:2.5rem;
    letter-spacing: 0.125rem;
}


.crousel_img{
    width:25rem;
    margin:1.25rem;
}

.crousel_slide{
    height:31.25rem;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}

#about{
    height:12.5rem;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    position:relative;
}
#about::before{
    content:'';
    background: url('bg.gif') ;
    background-size:cover;
    background-repeat: no-repet;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.01;

    
}
li i{
    margin:1.25rem 1.25rem 1.25rem 0rem;  
    z-index:5;
    
}

#about ul{
    list-style-type:none;
    line-height:1.875rem;
}
#about_left , #about_right{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    height:2.5rem;
    background: black;
    color:white;
    font-weight:200;

}

@media (max-width:1100px){
    html{
        font-size:90%;
    }
}

@media (max-width:980px){
    html{
        font-size:70%;
    }
}
@media (max-width:770px){
    html{
        font-size:60%;
    }
}

@media (max-width:680px){
    html{
        font-size:50%;
    }
  
}

@media (max-width:580px){
    html{
        font-size:40%;
    }
  
}

@media (max-width:456px){
    html{
        font-size:30%;
    }
  
}
@media (max-width:340px){
    html{
        font-size:20%;
    }
  
}

@media (min-width:1500px){
    html{
        font-size:110%;
    }
  
}

@media (min-width:1700px){
    html{
        font-size:120%;
    }
  
}

@media (min-width:1800px){
    html{
        font-size:130%;
    }
  
}

@media (min-width:1900px){
    html{
        font-size:135%;
    }
  
}

@media (min-width:2000px){
    html{
        font-size:145%;
    }
  
}

@media (min-width:2100px){
    html{
        font-size:155%;
    }
  
}
@media (min-width:2300px){
    html{
        font-size:165%;
    }
  
}
@media (min-width:2400px){
    html{
        font-size:185%;
    }
  
}

